.nav2{
    
    width: 96vw;
    
    
    margin: 20px auto;
    text-align: center;
    letter-spacing: 30px;
    
}

.nav2 button{
    width: 130px;
    
    background-color: white;
    font-size: 15px;
    color: black;
    border: 1px solid grey;
    padding : 10px 0px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
}

.nav2 button:hover{
    background-color: rgb(255, 0, 72);
    color: white;
}

.newscontainer{
    width: 90vw;
    
    margin: 10px auto;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 1fr;


}

.newscon{
    width: 80vw;
    margin: 10px auto;
    /* background-color: blueviolet; */
    position : relative;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 20px;

}

.news{
    width: 80vw;
    height: 20px;
    /* background-color: chartreuse; */
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

.publisher{
    margin-top: 5px;
    margin-bottom: 5px;
}

.material-symbols-outlined{
    
    position: absolute;
    bottom: 10px;
    right : 10px;
    width :30px;
}

.material-symbols-outlined:hover{
    color:rgb(255, 0, 72);
    
}