*{
    margin: 0px;
    padding: 0px;
}

.navbar{
    
    height: 10vh;
    width: 98vw;
    
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.logo{
    margin-left: 100px;
}

.dash{
    margin-right : 100px;
    
}

.dash a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.dash a:hover{
    color:rgb(255, 0, 72);
}



.span {
    color: rgb(255, 0, 72);
}

.nav2{
    
    width: 96vw;
    
    
    margin: 20px auto;
    text-align: center;
    letter-spacing: 30px;
    
}

.nav2 .btn{
    width: 130px;
    
    background-color: none;
    font-size: 15px;
    color: black;
    border: 1px solid grey;
    padding : 10px 0px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
}

.nav2 .btn:hover{
    background-color: rgb(255, 0, 72);
    color: white;
}

.newscontainer{
    width: 90vw;
    
    /* background-color: aqua; */
    margin: 10px auto;

}

.newscon{
    width: 85vw;
    
    /* background-color: brown; */
    margin: 15px auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: relative;
    border: 1px solid black;
}

.img{
    /* background-color: blueviolet; */
    
    margin: 5px 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
}

.main{
    /* background-color: blueviolet; */
    padding: 5px;
    margin: 5px 5px;
}

.headline{
    padding: 5px;
}

.article{
    padding: 5px;
    
    overflow: hidden;
    margin-bottom: 15px;
    font-family: 'Adamina', serif;
    font-size: 15px;
    
}

.readmore{
    padding: 8px;
    margin-bottom: 15px;
    margin-left: 5px;
    text-decoration: none;
    color: white;
    background-color:rgb(255, 0, 72);
}

.publisher{
    padding: 5px;
    margin-top: 15px;
}

.category{
    padding: 5px;
}

.material-symbols-outlined{
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 30px;
}