*{
    margin: 0px;
    padding: 0px;

}

.navbar{
    
    height: 20vh;
    width: 98vw;
    
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.navbar div{
    /* background-color: rgb(136, 0, 255); */
    height: 20vh;
    
}

.logo{
    
    margin-left : 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.span {
    color: rgb(255, 0, 72);
}

.nav-buttons{
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-buttons button{
    padding : 6px 30px;
    background-color: white;
    color: black;
    margin-left: 40px;
    border: 1px solid grey;
    border-radius: 30px;
    cursor: pointer;
    font-size : 16px;
    font-weight: bold;
   
}

.nav-buttons button:hover{
    background-color: rgb(255, 0, 72);
    color: white;
}

.info {
    height :80vh;
    width : 94vw;
    /* background-color: aqua; */
    margin-left: auto;
    margin-right: auto;
    display :grid;
    grid-template-columns: 2fr 1fr;
    gap : 10px;
}

.info .text,.banner{
    
    /* background-color: rgb(177, 63, 63); */
    height : 70vh;
    margin-top: auto;
    margin-bottom: auto;
}

.alltext{
    padding-bottom: 50px;
    /* background-color: aqua; */
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
}



.t1{
    font-family: 'Jost', sans-serif;
    font-size : 40px;

}

.t2{
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: grey;
}

.t3{
    font-family: 'Jost', sans-serif;
    font-size: 25px;
    margin-bottom: 50px;
    color:rgb(252, 68, 135);
}

.bs{
    /* background-color: blueviolet; */
    text-align: center;
    letter-spacing: 30px;
}

.b1,.b2{
    padding : 6px 30px;
    background-color: white;
    color: black;
    
    border: 1px solid grey;
    border-radius: 30px;
    cursor: pointer;
    font-size : 16px;
    font-weight: bold;
}

.b1:hover{
    background-color: rgb(255, 0, 72);
    color: white;
}

.b2:hover{
    background-color: rgb(255, 0, 72);
    color: white;
}

.a1{
    text-decoration: none;
    color: black;
}

.a1:hover{
    text-decoration: none;
    color: white;
}

.banner{
    background-image: url(images/509edde85052dce48a3230f23b056a6e.jpg);
    background-position: center;
}


